@charset "UTF-8";

/***** index.jsp - contentMiniArea2 *****/
.contentMiniArea2 {
	position: relative;
	margin: 20px;
	background: #E4AB87;
	width: 100%;
	height: 350px;
	color: white;
}
#contentMiniArea2 h2 span{
	margin: 20px;
}


#contentMiniBox2 {
 	width: 200px;
 	height: 200px;
 	position: absolute;
	left: 150px;
	top: 50px;
	animation: sliding 1s ease-out;
}

#contentMiniBox2 img{
	width:100%;
    height:100%;
    object-fit:cover;
}

#contentMiniBox4 {
 	width: 200px;
 	height: 200px;
 	position: absolute;
	right: 120px;
	top: 50px;
	animation: sliding2 1s ease-out;
}

#contentMiniBox4 img{
	width:100%;
    height:100%;
    object-fit:cover;
}
@keyframes sliding{
	from{
		left: -100px;
		opacity : 0;
	} to {
		left: 150px;
		opacity: 1;
	}
}
@keyframes disappear{
	from{
		left: 150px;
		opacity: 1;
	} to {
		left: -100px;
		opacity : 0;
	}
}
@keyframes sliding2{
	from{
		right: -100px;
		opacity : 0;
	} to {
		right: 120px;
		opacity: 1;
	}
}
@keyframes disappear2{
	from{
		right: 120px;
		opacity : 1;
	} to {
		right: -100px;
		opacity: 0;
	}
	
}


#contentMiniBox3 {
	width: 400px;
 	height: 200px;
 	position: absolute;
	right: 270px;
	top: 50px;
	color: white;
	padding: 30px;
	animation: slide 1s ease-out;
	font-size: 20px;
	font-weight: bold;
}

#contentMiniBox3 p{
	margin: 10px;
}

@keyframes slide{
	from{
		right: -100px;
		opacity : 0;
	} to {
		right: 270px;
		opacity: 1;
	}
}
@keyframes disappears{
	from{
		right: 270px;
		opacity: 1;
	} to {
		right: -100px;
		opacity : 0;
	}
}